<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="FarmEntities" connectionString="metadata=res://*/Model.FarmModel.csdl|res://*/Model.FarmModel.ssdl|res://*/Model.FarmModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.2;initial catalog=QIC.Farm;user id=sa;password=ml@2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/Model.Model.csdl|res://*/Model.Model.ssdl|res://*/Model.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.2;initial catalog=QIC.Farm;user id=sa;password=ml@2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>